@page "/tickets"



@inject IRepository repository


@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService


<h3>Validar Boletas</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/tickets/enter">Nueva validacion</a>
</div>


